.service-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 170px;

  flex-direction: column;
}

.service-heading h1 {
  margin: 5rem;
  background: url("../../assets/angry-underline.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.service-box {
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s;
}
.service-box h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.service-box h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background: linear-gradient(67deg, #cd850f, #e4092b);
  background-clip: text;
  color: transparent;
}
.service-box p {
  font-size: 14px;
  opacity: 0.9;
  line-height: 28px;
}
.service-box:hover {
  transform: scale(1.03);
  border: none;
  background: linear-gradient(67deg, #1a1a18, #b34253);
}
.service-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 60px;
  margin-bottom: 60px;
}
