.hero-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-section img {
  width: 200px;
  margin: 60px 0;
}
.hero-section h1 {
  max-width: 600px;
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 20px;
}
.hero-section h1 span {
  background: linear-gradient(67deg, #cd850f, #e4092b);
  background-clip: text;
  color: transparent;
}

.hero-section p {
  max-width: 628px;
  text-align: center;
  opacity: 0.8;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.contact-me {
  margin-right: 1rem;
  width: 200px;
  cursor: pointer;
  border: 0;
  padding: 14px 26px;
  background: linear-gradient(67deg, #cd850f, #e4092b);
  color: #fff;
  font-size: 1rem;
  border-radius: 36px;

  transition: all 0.7s;
}

.download-cv {
  cursor: pointer;
  border: 0;
  padding: 14px 26px;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  border-radius: 36px;
  border: 1px solid #fff;
  transition: all 0.7s;
  width: 200px;
}
.download-cv:hover {
  color: #e4092b;
  border: 1px solid #e4092b;
}

.cta {
  margin-bottom: 36px;
}
