.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 120px;
  position: sticky;
  top: 20px;
  z-index: 20;
}

body {
  font-family: Poppins;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.container img {
  width: 100px;
}
.contact-me {
  cursor: pointer;
  border: 0;
  padding: 10px 26px;
  background: linear-gradient(67deg, #cd850f, #e4092b);
  color: #fff;
  font-size: 1rem;
  border-radius: 36px;

  transition: 0.7s;
}
.contact-me:hover {
  transform: scale(1.05);
}

.nav-menu li p {
  cursor: pointer;
}

.anchor {
  text-decoration: none;
  color: #fff;
}

.mobile-close,
.mobile-open {
  display: none;
}
@media (max-width: 768px) {
  .container {
    margin: 16px;
  }
  .contact-me {
    display: none;
  }
  .mobile-open {
    position: fixed;
    display: block;
    right: 16px;
    font-size: 2rem;
  }
  .mobile-close {
    position: relative;
    display: block;
    top: 30px;
    left: 290px;
    font-size: 3rem;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    width: 350px;
    height: 100%;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    background-color: #251416;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 20px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}
