.work-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 170px;
  flex-direction: column;
}

.work-section h1 {
  margin: 5rem;
  background: url("../../assets/angry-underline.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.work-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 60px;
  margin-bottom: 60px;
}

.work-box img {
  border-radius: 6px;
  cursor: pointer;
  width: 290px;
  height: 200px;
}

.work-box {
  transition: all 0.5s;
}

.work-box:hover {
  transform: scale(1.04);
}

.show-more-container {
  display: flex;
  gap: 12px;
  margin-bottom: 60px;
  border: 1px solid #fff;
  padding: 0.8rem 2rem;
  border-radius: 36px;
  cursor: pointer;
  transition: all 0.5s;
}

.show-more-container:hover {
  gap: 20px;
  border-color: #e4092b;
}

.show-more-container img {
  width: 20px;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .work-section {
    margin: 20px 40px;
  }

  .work-section h1 {
    margin: 3rem;
    background-size: contain;
  }

  .work-container {
    grid-template-columns: repeat(2, auto);
    gap: 30px;
  }

  .work-box img {
    width: 100%;
    height: auto;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .work-section {
    margin: 20px 20px;
  }

  .work-section h1 {
    margin: 2rem;
    background-size: contain;
  }

  .work-container {
    grid-template-columns: repeat(1, auto);
    gap: 20px;
  }

  .work-box img {
    width: 100%;
    height: auto;
  }

  .show-more-container {
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  .show-more-container:hover {
    gap: 12px;
    border-color: #e4092b;
  }

  .show-more-container img {
    width: 20px;
  }
}
